[submodule "mutils-serialization"]
	path = mutils-serialization
	url = git@github.com:derecho-project/mutils-serialization
[submodule "mutils"]
	path = mutils-repo
	url = git@github.com:mpmilano/mutils
